page-login {

  #ion-content {
    background-image: url('../../assets/imgs/welcome.jpg');
  }
  
  #title {
    font-family: 'Beauty Mountains Personal Use';
    font-size: 4em;
    text-shadow: 1px 1px 1px #000;
    color: #ffe;
    letter-spacing: 0.2em;
  }
}
