<!-- Generated template for the CommentListComponent component -->
<ion-list no-padding no-margin scroll="true">
  <comment *ngFor="let comment of comments; let i = index" [props]="comment" [index]="i"
    (onUpdate)="handleUpdate($event)" (onDelete)="handleDelete($event)">
  </comment>

</ion-list>

<div class="bottom">
  <ion-item text-wrap no-padding>
    <ion-icon name="text" item-left></ion-icon>
    <ion-textarea [(ngModel)]="newComment" type="text" name="text" class="input" 
        margin-left=0 margin-right=0 placeholder="Write your comment..." required>
    </ion-textarea>
    <button ion-button (click)="handleSubmit()" item-right>
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-item>
</div>