<!-- Generated template for the CommentListComponent component -->
<ion-list no-padding no-margin scroll="true">
  <comment *ngFor="let comment of comments; let i = index" [props]="comment" [index]="i"
    (onUpdate)="handleUpdate($event)" (onDelete)="handleDelete($event)">
  </comment>

</ion-list>

<div class="bottom">
  <ion-item text-wrap no-padding>
    <ion-icon name="text" item-left></ion-icon>
    <ion-textarea [(ngModel)]="newComment" type="text" name="text" class="input" 
        margin-left=0 margin-right=0 placeholder="Write your comment..." required>
    </ion-textarea>
    <button ion-button (click)="handleSubmit()" item-right>
      <ion-icon name="send"></ion-icon>
    </button>
  </ion-item>
</div>

<!-- <ion-row class="bottom">
   <ion-col col-10>
      <ion-item>
        <ion-icon name="text" item-left></ion-icon>
        <ion-textarea [(ngModel)]="newComment" 
          type="text" placeholder="Write your comment..." name="text" required>
        </ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col col-2>
      <ion-item item-right>
        <button ion-button small class="blue" (click)="handleSubmit()">POST!</button>
      </ion-item>
    </ion-col>
</ion-row> -->

<!-- <ion-list no-padding no-margin [virtualScroll]="comments">
  <comment *ngFor="let comment of comments; let i = index" [props]="comment" [index]="i"
    (onUpdate)="handleUpdate($event)" (onDelete)="handleDelete($event)">
  </comment>

  <div *virtualItem="let comment; let i = index">
    <comment [props]="comment" [index]="i" 
        (onUpdate)="handleUpdate($event)" (onDelete)="handleDelete($event)">
    </comment>
  </div>
  
</ion-list>

<ion-row class="bottom">
  <ion-col>
  <ion-item>
      <ion-icon name="text" item-left></ion-icon>
      <ion-textarea [(ngModel)]="newComment" 
        type="text" placeholder="Write your comment..." name="text" required>
      </ion-textarea>
      <div (click)="handleSubmit()" item-right>
        <p><small class="blue">POST!</small></p>
      </div>
    </ion-item>
  </ion-col>
</ion-row>-->