<!-- Generated template for the PostComponent component -->
<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <img src="{{profile || props.profile_pic}}">
    </ion-avatar>
    <h2 (click)="handleUsernameClick(props.user_id)">{{username || props.username}}</h2>
    <p>
      <small>
        {{props.created_at | amDateFormat:'LL' | amTimeAgo}}
      </small>
  </p>
  </ion-item>
  
  <img src="{{props.media_url}}">

  <ion-row>
    <ion-col col-1>
      <button ion-button icon-start clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div></div>
      </button>
    </ion-col>
    <ion-col col-1>
      <button ion-button icon-start clear small>
        <ion-icon name="text"></ion-icon>
        <div></div>
      </button>
    </ion-col>
  </ion-row>
  <ion-card-content>
    <p>{{props.media_des}}</p>
  </ion-card-content>
</ion-card>