<!-- Generated template for the PostComponent component -->
<ion-card>
  <ion-item>
    <ion-avatar item-start>
      <img src="{{profile || props.profile_pic}}">
    </ion-avatar>
    <h2 (click)="handleUsernameClick(props.user_id)">{{username || props.username}}</h2>
  </ion-item>
  
  <img src="{{props.media_url}}">

  <ion-row>
    <ion-col col-2>
      <button ion-button icon-start clear small
        (click)="onLike(props.media_id)">
        <ion-icon [name]="props.has_like ? 'star' : 'star-outline' "></ion-icon>
      </button>
    </ion-col>
    <ion-col col-2>
      <button ion-button icon-start clear small no-padding
        (click)="handleCommentLink(props.media_id)">
        <ion-icon name="text" no-padding></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  <ion-card-content>
    <p>
      <small>
        <strong>{{ props.likes }} likes</strong>
      </small>
    </p>
    <p>
      <strong>{{ props.username }}  </strong> {{ props.media_des }}
    </p>
    <p *ngIf="props.has_comment">
      <small (click)="handleCommentLink(props.media_id)">Read {{ props.comments }} comments.</small>
    </p>
    <p>
      <small>
        {{props.created_at | amDateFormat:'LL' | amTimeAgo | uppercase}}
      </small>
    </p>
  </ion-card-content>
</ion-card>